@import "../../variables.scss";

.Feed {
    margin-bottom: 100px;
    .feed-videos {
        .thumbnail-contain {
            margin-top: 10px;
            display: grid;
            grid-auto-rows: 0;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            overflow-y: hidden;
            padding: 0 10px;
            padding-top: 20px;
            transition: all 0.2s ease;
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 200%, black 100%);
        }

        .sponsor {
            grid-template-rows: repeat(1, 1fr);
        }
    }
}
