// https://visme.co/blog/modern-fonts/
// https://www.behance.net/gallery/17725611/Kontanter-FREE-FONT

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../src/images/background-min.jpg");
    background-color: #8d899d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    width: calc(100% - 20px);
    padding-left: 20px;
    margin-bottom: -10px;
    letter-spacing: 10px;
    font-size: 24px;
    font-weight: 100;
    color: white;
    opacity: 0.8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);

    .icon {
        width: 16px;
        margin-bottom: -2px;
        opacity: 0.5;

        &:hover {
            opacity: 0.9;
            cursor: help;
        }
    }
}

@media only screen and (max-width: 640px) {
    body {
        background: none;
        background-color: #8970a9;
    }
}
